@charset "UTF-8";
main:after, .c_list_product-01 > li:after, .c_form_list.-col-2:after {
  content: '';
  display: table;
  clear: both; }

html, body {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  font-family: メイリオ, Meiryo, "ＭＳ Pゴシック", sans-serif; }

body {
  color: #333;
  line-height: 1.5; }

div#container {
  font-size: 140%;
  font-size: 14px;
  font-size: 1.4rem; }

main {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 87.5%;
  font-size: 14px;
  font-size: 1.4rem; }

p {
  margin: 0; }

em, b, i, cite {
  font-style: normal; }

ul, ol, dl, dd, blockquote {
  margin: 0;
  padding: 0; }

ul li {
  list-style-type: none; }

ol {
  list-style-type: none; }

a {
  color: #0c52c7; }
  a:visited {
    color: #0c52c7; }
  a:hover, a:active, a:focus {
    color: #0c52c7;
    text-decoration: none; }

table {
  width: 100%;
  border-collapse: collapse; }

img {
  vertical-align: top;
  border: none; }

label {
  cursor: pointer; }

input,
button,
textarea {
  font-size: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: メイリオ, Meiryo, "ＭＳ Pゴシック", sans-serif;
  vertical-align: top;
  padding: 0; }

button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer; }

/* ==================================
** フレーム
** =================================*/
main {
  font-size: 100%;
  font-size: 16px;
  font-size: 1.6rem; }

#content {
  margin: 0 auto;
  width: 1024px; }

/* ==================================
 * 商品リスト
 * ================================ */
.c_list_product-01 {
  font-size: 93.75%;
  font-size: 15px;
  font-size: 1.5rem;
  margin-bottom: 40px;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc; }
  .c_list_product-01 > li {
    border-top: 1px solid #ddd;
    padding: 12px 14px 11px; }
    .c_list_product-01 > li:first-child {
      border-top: none; }
  .c_list_product-01 .product-inner {
    display: table;
    width: 100%; }
  .c_list_product-01 .product-id, .c_list_product-01 .product-content {
    display: table-cell;
    vertical-align: top; }
  .c_list_product-01 .product-id {
    padding-right: 12px;
    width: 24px;
    text-align: right; }
  .c_list_product-01 .product-header {
    position: relative;
    margin-bottom: 3px; }
  .c_list_product-01 .product-date {
    font-size: 75%;
    font-size: 12px;
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    color: #808080; }

/* ==================================
 * ボタン
 * ================================ */
.c_btn_normal-01 {
  font-size: 93.75%;
  font-size: 15px;
  font-size: 1.5rem;
  display: inline-block;
  border-radius: 2px;
  padding: 7px 10px 6px;
  background: #f246d2;
  line-height: 1.2;
  color: #fff;
  -webkit-transition: background .8s ease;
          transition: background .8s ease; }
  .c_btn_normal-01:hover, .c_btn_normal-01:active, .c_btn_normal-01:focus {
    background: #c938ac; }

.c_form_textBox {
  position: relative;
  border-width: 0 0 1px 0;
  border-color: #ddd;
  padding: 0 0 4px;
  width: 100%;
  outline: none;
  -webkit-transition: border-color .8s ease;
          transition: border-color .8s ease; }
  .c_form_textBox:focus {
    border-color: #57a8fb; }

/* ==================================
 * フォーム用リスト
 * ================================ */
.c_form_list {
  margin-bottom: 22px; }
  .c_form_list.-col-2 {
    margin: -12px 0 22px -22px; }
    .c_form_list.-col-2 > li {
      float: left;
      margin: 12px 0 0 22px;
      width: 483px; }
    .c_form_list.-col-2 label {
      font-size: 75%;
      font-size: 12px;
      font-size: 1.2rem;
      display: block;
      margin-bottom: 3px; }

.c_box-01 {
  margin-bottom: 40px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  background: #fff; }
  .c_box-01 .box-title {
    font-size: 112.5%;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 18px 18px 17px;
    background: #57a8fb;
    line-height: 1.1;
    font-weight: normal;
    color: #fff; }
  .c_box-01 .box-content {
    padding: 18px 18px 24px; }
    .c_box-01 .box-content > *:last-child {
      margin-bottom: 0 !important; }

.c_box_modal-01 {
  width: 100%;
  height: 100%; }
  .c_box_modal-01 .modal-content {
    position: fixed;
    box-sizing: border-box;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
    padding: 18px 18px 17px;
    width: 1024px;
    background: #fff;
    z-index: 2; }
  .c_box_modal-01 .modal-layer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1; }
